@head: #001529;//后台管理顶部颜色
@headtitle: #fff;//后台系统标题

@sidebar--background-color-dark: #263238;  //菜单栏背景色
@sidebar--color-text-dark: #8a979e; //菜单栏文字颜色


@header--menu-height: 90px; //后台顶部标题栏的高度
@header--title-size: 26px; //后台管理顶部标题大小
@pdm--sidebar-width: 210px; //左侧菜单栏宽
@sidebar--menu--title-size: 15px; //菜单栏文字大小

@upload--item-width: 90px; //上传控件 picture-card 宽度
@upload--item-height: 90px; //上传控件 picture-card 宽度